.hero-content{
    font-family: "Coolvetica";
    color: #00a6fb;
   

    
   h1{
         color: #fff;
         font-size: 68px;
         margin: 0;
         font-family: 'Coolvetica';
        font-weight: 400;
    
    }
    h2{
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 4s backwards;
    }

    .contact-btns{
        
        a{
            padding-left: 10px;
            svg{
                color: #fff;
            }
            &:hover svg{
                color:#ffd700;
            }
        }
        
    
        .contact-me-btn {
            border: 2px solid #8d8d8d;
            width: 200px;
            height: 60px;
            font-size: 30px;
            color: #fff;
            background-color: rgba(206, 28, 28, 0);
            animation: fadeIn 1s 5s backwards;
            &:hover{
                background-color: #b9a636;
                color: black;

            }
        }
    }
    
}

.contact-span{
   
    padding-top: 1.6px;
    padding-bottom:  8px;
    margin-left: 5px;
    padding-right: 50px;
    font-size: 40px;
    border: 2px solid #8d8d8d;
    animation: fadeIn 1s 5s backwards;
}



.img-div{
    
    opacity: 1;
    animation: fadeIn 1s 6s backwards;
    
    img{
        width: 100%;
        height: 100%;
        opacity: .8;
       
        
    }
    
}



