nav{
    background-color: rgba(14, 49, 63, 0) !important;
   
    h1{
        color: #fff;
        font-size: 28px;
        font-family: 'Helvetica Neue';
        font-weight: bolder;
    }
        

   
}
.navbar-brand{
    text-align: center;
}
.navbar-nav{
    a{
        color: #fff;
        font-size: 26px;
        font-family: 'Helvetica Neue';
        font-weight: bolder;
    }
}