.hero-section{
    height: 85%;
}

.hero-content{
    font-family: "Coolvetica";
    color: #00a6fb;

   

    
   .h1-home{
         color: #fff;
         font-size: 68px;
         margin: 0;
         font-family: 'Coolvetica';
        font-weight: 400;
    
    }
    .h2-home{
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 4s backwards;
    }

    .contact-btns{
        
        a{
            padding-left: 10px;
            svg{
                color: #fff;
            }
            &:hover svg{
                color:#ffd700;
            }
        }
        
    
        .contact-me-btn {
            border: 2px solid #8d8d8d;
            width: 200px;
            height: 60px;
            font-size: 30px;
            color: #fff;
            background-color: rgba(206, 28, 28, 0);
            animation: fadeIn 1s 5s backwards;
            &:hover{
                background-color: #b9a636;
                color: black;

            }
        }
    }
    
}

.contact-span{
   
    padding-top: 2px;
    padding-bottom:  8px;
    margin-left: 5px;
 
    font-size: 40px;
    border: 2px solid #8d8d8d;
    animation: fadeIn 1s 5s backwards;
    a{
        margin-right: 15px;
    }
}



@media only screen and (max-width: 413px) {
   .h2-home{
     margin-left: 25px;
   }
}

@media only screen and (max-width: 342px) {
   .hero-content{
    .h1-home{
        font-size: 50px;
    }
    .contact-me-btn {
        margin-left: 22px;
    }
    .contact-span{
        margin-left: 50px;
    }
 }
}   

